*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', sans-serif;
    margin: 20px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    background: linear-gradient(to left, rgba(98, 183, 253, 0.858), rgba(48, 160, 253, 0.858), rgba(21, 124, 209, 0.858), rgba(2, 61, 110, 0.858));
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

header h1{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 24px;
}

header img{
    width: 200px;
    height: 100px;
    border-radius: 16px;
}

.app {
    max-width: 800px;
    margin: 0 auto;
}

.form {
    margin-bottom: 16px;
    padding: 8px;
    text-align: center;
}

.form label{
    display: block; 
    margin-bottom: 8px; 
    font-weight: bold;
}

.form select,
.form input,
.form button {
    margin: 0 auto;
    display: block; 
    text-align: center;
    width: 60%; 
    max-width: 60%; 
    padding: 8px; 
    border-radius: 8px;
    margin-bottom: 16px; 
    color: green;
    background-color: black;
    font-weight: bold;
}

.form button {
    cursor: pointer;
}

#resultado {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 16px;
}
